<p id="notice"><%= notice %></p>
<br>
<div class="col-md-8">
<%= month_calendar events: @medicines do |date, medicines| %>
  <%= date.day %>

  <% medicines.each do |medicine| %>
    <div>
      <%= link_to medicine.title, medicine %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>