<body>
<header>
<%= render "shared/header" %>
</header>
<main>
<%= render "shared/form" %>

<div class="lists">
<%= link_to '戻る', root_path, class: "list-back" %>
</div>
 </main>

<footer>
<%= render "shared/footer" %>
</footer>
</body>
