body { overflow-y: scroll; }


.top-page-header {
  width: 100vw;
  padding: 5vh 0;
  display: flex;
  align-items: flex-start;
  background-color: antiquewhite;
  position: relative;

}

.lists-right {
  position: absolute;
  top: 25px;
  left: 130px;

}

.user-nickname {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
}

.login {
  margin-right: 30px;
  text-decoration: none;
  color: #333333;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  list-style: none;
  width:150px;
  font-size: 20px;
  font-weight: bold;
}

