// Place all the styles related to the medicines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */

.create_content {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  padding:15px 30px;
  margin-left: 90px;
  text-align:center;
  border:2px solid;
  border: color #000;
  border-radius: 5px;
}

/* 編集ページ */

.user_name_index{
  padding: 10px;
}


.lists{
  list-style: none;
  padding-left: 0;
}


.list-edit{
  padding: 5px 0;
}

.list-deleat{
  padding: 5px 0;
}

.list-back{
  padding: 5px 0;
}

.list-back-new{
  padding: 5px 0;
}

