.list-timings{
margin-top: 10px;
}
.timing-select{
padding: 5px 10px;;
width: 203px;
}

.send-list{
  margin-top: 10px;
}

.titele{
  display: flex;
}

.lists{
  font-size: 18px;
}  


.list-names{
  margin-top: 30px;
}

.list-name{
  margin-bottom: 10px;
}


.timing-lists{
  flex-grow: 1;
}

.medicinelists{
font-size: 18px;
margin-left: 20px;

}


.medicinelist{
margin: 40px 0 30px 30px;

}


.m{
font-size: 20px;
margin: 10px;


}

.message{
  font-size: 18px;
  margin: 20px 0 10px 20px;

}

.timing-list{
  text-align: center;
  border:2px solid;
  border-radius: 5px;
  border-color: rgb(243, 218, 187);
 background-color:  rgb(243, 218, 187);
  font-size: 30px;
width: 90%;
margin: 10px;

}

.send-list{
  color: #333333;
  border:2px solid;
  border: color #000;
  background-color: white;
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin: 30px 0 30px 0;
  border-radius: 5px;

}