.list-forms {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px;
}

.form-morning{
  font-size: 40px;

}

.form-afternoon{
  font-size: 40px;
}


.form-evening{
  font-size: 40px;

}

.form-beforesleep{
  font-size: 40px;
}

