.list-forms {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px;
}

.form-morning{
  font-size: 40px;

}

.form-afternoon{
  font-size: 40px;
}


.form-evening{
  font-size: 40px;

}

.form-beforesleep{
  font-size: 40px;
}


.timing-list{
  font-size: 30px;

}

.list-names{
  margin-top: 30px;
}

.list-name{
  margin-bottom: 10px;
}

.timing-lists{
margin-top: 20px;


}

.medicinelists{
  text-decoration: none;
margin-left: 30px;
}

.timing-morninglists{
display: flex;
}

.timing-afternoonlists{
  display: flex;
}

.medicinelistmorning{
}

