// Place all the styles related to the medicines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lists{
  list-style: none;
  padding-left: 0;
}


.list-edit{
  padding: 5px 0;
}

.list-deleat{
  padding: 5px 0;
}

.list-back{
  padding: 5px 0;
}